services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: christian
      POSTGRES_PASSWORD: ilovelondon7.
      POSTGRES_DB: inventory
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
volumes:
  pgdata: